<div>
  <link href="./gallery-card3.css" rel="stylesheet" />
  <div class="gallery-card3-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjY0NDg1NTk&ixlib=rb-1.2.1&h=1000"
      class="gallery-card3-image"
    />
    <div class="gallery-card3-container">
      <h1 class="gallery-card3-text"><span>Project Title</span></h1>
      <span class="gallery-card3-text1">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </span>
    </div>
  </div>
</div>
